.container{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #eeeeee;
    background-color: #756e6e;
    text-align: center;
    width: 100vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display:grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px;
    border-radius: 5px;
    
    
}

.error {
  color: red;
  font-size: small;
}
.errorPlaceholder{
    position: relative;
    top: 0;
    right: 0;
    color: transparent; /* Make the placeholder text transparent */
    font-size: small;
    transform: translateY(-100%);
}
.inputContainer{
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px; 
}
.createButton{
  background-color: #575757;
  color: rgb(230, 230, 230);
}
